<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="https://edventure.ph/_nuxt/img/edventure_logo.2d37157.svg">
    </a>
    <h1>Buy Package<br/> To Join Referral Program</h1>
    <%= form_tag(purchases_path, method: 'get') do %>
      <%= text_field_tag(:email, nil, class: 'form-control mw-60', placeholder: 'Email') %>
      <br/>
      <%= text_field_tag(:first_name, nil, class: 'form-control mw-60', placeholder: 'First Name') %>
      <br/>
      <%= text_field_tag(:last_name, nil, class: 'form-control mw-60', placeholder: 'Last Name') %>
      <br/>
      <%= number_field_tag(:amount, nil, class: 'form-control mw-60', placeholder: 'Amount') %>
      <br/>
      <%= submit_tag('Purchase', class: 'btn btn-lg btn-default') %>
    <% end %>
  </div>
</div>
<div class="container">
</div>
